<div
  *ngFor="let item of (items | async | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage); trackBy: ticketTrackFn; let i = index">
  <!-- content here slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage)  -->
  <span>{{i+1}} : {{item.Priority}}<br />
    {{item.Status}}<br />
    {{item.Id}}
    <hr />
  </span>
</div>

<p>Restricted size with rotation and no ellipses:</p>
<ngb-pagination #numPages [collectionSize]="collectionSize" [(page)]="currentPage" [pageSize]="itemsPerPage"
  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

<hr>

<pre>Page: {{ currentPage }} / {{numPages.pageCount}}</pre>
