<div class="card bg-light">
  <div class="card-header bg-primary">
    <ul class="nav nav-tabs card-header-tabs text-white">
      <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link bg-primary text-white" routerLink="/">DASHBOARD</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link bg-primary text-white">GMAIL</a>
      </li>
    </ul>
  </div>
  <div class="card-body mainRouterView">
    <router-outlet></router-outlet>
  </div>
</div>